h1 {
    font-size: 40px;
    padding: 0px;
    /* margin: 10px; */
    border: solid;
    /* border-width: 10px; */
    border-radius: 50px;
}

.new-stock__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

.new-stock__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.new-stock__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
}

.new-stock__actions {
    text-align: right;
}

.new-stock__actions .cancel {
    background-color: red;
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.new-stock__actions button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
}

.new-stock__actions button:hover,
.new-stock__actions button:active {
    background-color: #510674;
    border-color: #510674;
}

.new-stock__actions button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
}

.new-stock__actions button.alternative:hover,
.new-stock__actions button.alternative:active {
    background-color: #ddb3f8;
}