<form (ngSubmit)="submitHandler($event)">
    <h1>Create New stock</h1>
    <div class="new-stock__controls">
        <div class="new-stock__control">
            <label for="title">Title:</label>
            <input type="text" name="title" [(ngModel)]="title" />
        </div>
        <div class="new-stock__control">
            <label for="amount">Amount:</label>
            <input type="number" min="0.01" step="0.01" name="amount" [(ngModel)]="amount" />
        </div>
        <div class="new-stock__control">
            <label for="date">Date:</label>
            <input type="date" min="2019-01-01" max="2022-12-31" name="date" [(ngModel)]="date" />
        </div>
    </div>
    <div class="new-stock__actions">
        <button type="submit">Add stock</button>
        <button class="cancel" (click)="onCancel($event)">Cancel</button>
    </div>
</form>
<!-- <button (click)="onCancel()">Click</button> -->
<!-- *ngIf="!toggle" -->

<!-- <div class="content-box">
    <h2>Create New Listing</h2>
    <form (ngSubmit)="onButtonClicked()">
        <div>
            <label> Name: </label>
            <input type="text" name="name" [(ngModel)]="name" />
        </div>
        <div>
            <label> Item Description: </label>
            <input class="description" type="text" name="description" [(ngModel)]="description" />
        </div>
        <div>
            <label> Price: </label>
            <input type="text" name="price" [(ngModel)]="price" />
        </div>
        <button type="submit">
      {{ buttonText }}
      <i class="fa-regular fa-square-plus"></i>
    </button>
    </form>
</div> -->